{% extends "itreporting/base.html" %}
{% block content %}
<form action = "" method = "POST">
    {% csrf_token %} 
    <body class="m-3">
    <br></br>>
        <div class="container text-center ">
            <h1 class="text-success">Get In Contact!</h1>
            <h5>We love getting student feedback so get in touch with us via this
                form whenever you feel like it.  
            </h5>
        </div>
        <form class="p-3 mt-4 col gy-4 gx-4 align-items-center border bg-light">
            <div class="col-auto">
                <label for="name">Your name: </label>
                    <input id="name" type="text" name="name">
            </div>
                 <div class="col-auto mt-3">
                     <div class="input-group">
                        <label for="email">Your Email: </label>
                        <input id="email" type="text" name="email">
                    </div>
                 </div>
            <div class="col-auto mt-3">
                <div class="input-group">
                    <label for="Subject">Subject: </label>
                        <input id="subject" type="text" name="subject">  
                </div>
            </div>
            <div class="col-auto mt-3">
                <div class="input-group">
                    <label for="message">Your Message For Us: </label>
                        <input id="message" type="text" name="message">
                        <input type="submit" value="OK">
                </div>
            </div>
        
        </form>
</form>
{% endblock %}
</body>
</html>