{% extends "itreporting/base.html" %}
{% block content %}
<h1>Welcome to Student IT Services</h1>
<p>
    Lorem ipsum dolor sit amet, nec dolore soleat no, cu vis hinc reque reformidans. 
    Sumo oblique consequat pro ne, vim libris iracundia interesset ex, volumus voluptaria 
    adipiscing ad est. Ut ubique convenire definitiones mei, quo tantas postulant te. Ex 
    est nisl option vocibus, sit no errem virtute nonumes. An euismod petentium patrioque est, 
    et eum zril contentiones.
    </p>
     <p>
    Vis nonumy quidam adipisci in, quas iracundia intellegat id mel, case fugit nam et. Dicat 
    latine adolescens id qui. Verear eligendi sit id, no oratio dignissim eam, eos case velit 
    cetero id. Id tantas suscipiantur sea. His atqui invenire interesset no, ne vim erant 
    verear delenit, vitae hendrerit ex pro.
     </p>
{% endblock %}
</body>
</html>
{% block sidebar %} 
<div class="col-md-4"> 

        <h3>Current Weather</h3> 

        <p class='text-muted'>Cities across United Kingdom 

            <ul class="list-group"> 

                    {% for weather in weather_data %} 

                        <li class="list-group-item list-group-item-light">{{ weather.city }}: {{ weather.description }}, {{ weather.temperature }}&deg;C</li> 

                    {% endfor %} 

            </ul> 

        </p> 

</div> 

{% endblock sidebar %}
