{% extends "itreporting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
<div class="content-section">
<form method="POST">
<body class="m-3">
    <br></br>
    <div class="container text-center ">
        <h1 class="text-success"> Report IT Issue</h1>
        <fieldset class="form-group">
            {{ form|crispy }}
            </fieldset>
        <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
    <form class="p-3 mt-4 col gy-4 gx-4 align-items-center border bg-light ">
        <div class="col-auto">
            <input type="text" class="form-control" 
                placeholder="Name">
        </div>
        <div class="col-auto mt-3">
            <div class="input-group">
                <input type="text" class="form-control" 
                    placeholder="Gender">
            </div>
        </div>
        <div class="col-auto mt-3">
            <div class="input-group">
                <input type="text" class="form-control" 
                    placeholder="Date of birth">
            </div>
        </div>
        <div class="col-auto mt-3">
            <div class="input-group">
                <input type="text" class="form-control" 
                    placeholder="Recovery account">
            </div>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">Are you already Registered? <a class="ml-2" href="#">Login
            </a></small>
            </div>
            </div>
            {% endblock content %}
</body>